* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
}


body{
    position: relative;
    font-family: "Urbanist", sans-serif;
}

nav{
    height: 100px;
    background-color: #3868A6;

}

.logo{
    margin-left: 3%;
    position: absolute;
    top: 10px;
    height: 80px;
    width: auto;
}

ul{
    margin-left: 50%;
    background-color: #3868A6;
}


li{
    background-color: #3868A6;
    color: #FFFFFF;
    display: inline;
    height: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 35px;
    margin-left: 2%;
    position: absolute;
}

.kalendarz{
    left: 80%;
}

.aktualnosci{
    left: 70%;
}

.kontakt{
    left: 60%
}

footer{
    margin-top: 60%;
    height: 200px;
    background-color: #D7D7D9;
}

.formularz{
    margin: 2% auto 4% auto;
    width: 50%;
    border: 2px solid #3868A6;
    border-radius: 10px;
}

input,
textarea,
.wyslij,
.rodo{
    display: block;
    margin: 4% auto;
    font-family: "Urbanist", sans-serif;
    font-size: 100%;
    font-weight: 500;
    padding: 0.5% 1%;
    border: 2px solid #D7D7D9;
    border-radius: 10px;
    width: 75%;
}


.label_email{
    display: block;
    margin: -3% auto 4% auto;
    width: 75%;
}

.rodo{
    display: inline;
    width: 3%;
    margin-left: 15%;
    margin-top: -2%;
}

.wyslij{
    width: 20%;
    margin-right: 20%;
}

.wyslij:hover{
    background-color: #3868A6;
    border-color: #3868A6;
    color: #FFFFFF;
}

h2{
    font-family: "Major Mono Display", monospace;
    font-size: 200%;
    font-weight: 700;
    color: #3868A6;
    margin: 3% auto 0 auto;
    text-align: center;
}






h1{
    font-family: "Major Mono Display", monospace;
    font-size: 180%;
    padding: 1%;
    color: #FFFFFF;
    background: rgba(56, 104, 166, 0.4);
    border-radius: 10px;
    text-align: center;
    margin: 27% auto;
    width: 1000px;
    align-self: flex-start;
}

p{
    background: none;
    width: 35%;
    height: 60%;
    position: absolute;
    transform: translate(100%,70%);
    text-align: center;
}

.container{
    display: flex;
    flex-shrink: inherit;
    flex-wrap: wrap;
    order: initial;
    align-items: center;

    background-image: url("tlo_do_formularza.png");
    height: 1280px;
}








.major-mono{
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}

.urbanist{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
