/* Month view 3 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
}


body{
    position: relative;
    font-family: "Urbanist", sans-serif;
}

header{
    height: 100px;
    background-color: #3868A6;

}

.logo{
    margin-left: 3%;
    position: absolute;
    top: 10px;
    height: 80px;
    width: auto;
}

ul{
    margin-left: 50%;
    background-color: #3868A6;
}


li{
    background-color: #3868A6;
    color: #FFFFFF;
    display: inline;
    width: 200px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-left: 1%;
    position: absolute;
    top: 35px;
}

.kalendarz{
    left: 80%;
}

.aktualnosci{
    left: 70%;
}

footer{
    height: 100px;
    background-colory: #D7D7D9;
}


.formularz{
    position: absolute;
    background-image: url("front-view-back-school-concept-with-copy-space.jpg");
    background-color: #cccccc;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
textarea,
.wyslij,
.rodo{
    display: block;
    margin: 4% auto;
    font-family: "Urbanist", sans-serif;
    font-size: 100%;
    font-weight: 500;
    padding: 0.5%;
    border: 2px solid #3868A6;
    border-radius: 10px;
    width: 40%;
}

.rodo{
    display: inline;
    width: 3%;
}

.wyslij{
    width: 20%;
    margin-left: 70%;
}

.wyslij:hover{
    background-color: #3868A6;
    color: #FFFFFF;
}


h1{

    font-family: "Major Mono Display", monospace;
    color: #FFFFFF;
    background: rgba(56, 104, 166, 0.4);
    border-radius: 10px;
}





.major-mono{
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}

.urbanist{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
