* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
}


body{
    font-family: "Urbanist", sans-serif;
}

nav{
    height: 100px;
    background-color: #3868A6;
}


.logo{
    margin: 10px 3%;
    position: absolute;
    height: 80px;
    width: auto;
}

nav ul{
    display: flex;
    margin: 35px 60%;
    background-color: #3868A6;
    position: absolute;
}


nav li{
    background-color: #3868A6;
    height: 30px;
    display: inline;
    font-weight: 400;
    text-align: center;
    margin-left: 20%;
    text-decoration: none;
}
a{
    background-color: #3868A6;
    color: #FFFFFF;
}



footer{
    height: 200px;
    background-color: #D7D7D9;
}


@media only screen and (max-width: 1920px){
    h1{
        font-family: "Major Mono Display", monospace;
        font-size: 200%;
        padding: 1%;
        color: #FFFFFF;
        background: rgba(56, 104, 166, 0.4);
        border-radius: 10px;
        text-align: center;
        margin: 30% auto 40% auto;
        width: 60%;
        align-self: flex-start;
    }

    p{
        background: none;
        width: 35%;
        font-size: 130%;
        position: absolute;
        margin-top: 15%;
        transform: translate(100%,80%);
        text-align: center;
    }

}



@media only screen and (max-width: 860px){
    h1{
        font-family: "Major Mono Display", monospace;
        font-size: 130%;
        padding: 1%;
        color: #FFFFFF;
        background: rgba(56, 104, 166, 0.4);
        border-radius: 10px;
        text-align: center;
        margin: 30% auto 40% auto;
        width: 70%;
        align-self: flex-start;
    }

    p{
        background: none;
        width: 35%;
        font-size: 100%;
        position: absolute;
        margin-top: 15%;
        transform: translate(100%,70%);
        text-align: center;
    }

}

@media only screen and (max-width: 500px){
    h1{
        font-family: "Major Mono Display", monospace;
        font-size: 115%;
        padding: 1%;
        color: #FFFFFF;
        background: rgba(56, 104, 166, 0.4);
        border-radius: 10px;
        text-align: center;
        margin: 30% auto 40% auto;
        width: 70%;
        align-self: flex-start;
    }

    p{
        background: none;
        width: 35%;
        font-size: 90%;
        position: absolute;
        transform: translate(100%,65%);
        text-align: center;
    }

}


.container{
    display: flex;
    flex-shrink: inherit;
    flex-wrap: wrap;
    order: initial;
    align-items: center;
    background-image: url("potos/tlo_do_formularza.png");
    background-position: center;
    background-size: cover;
}



.major-mono{
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}

.urbanist{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
