.prod_in_cart{
    display: grid;
    margin: 5% auto;
    padding: 1.5%;
    border: 2px solid #D7D7D9;
    border-radius: 30px;
}

.prod_photo{
    border-radius: 20px;
}

.nazw_prod{
    grid-row: 1;
    width: 100%;
    margin-left: 3%;
}

.label_select_sztuki{
    margin-left: 3%;
}

.select_sztuki{
    width: 50%;
    padding: 1%;
    border: 2px solid #D7D7D9;
    border-radius: 10px;
    text-align: center;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    cursor: pointer;
    margin-left: 2%;
}

.cena_za_x_sztuk,
.cena_za_sztuke{
    font-size: 160%;
}

.zamow{
    border: none;
    background-color: #BF1120;
    border-radius: 30px;
    font-family: "Urbanist", sans-serif;
    color: #FFFFFF;
    cursor: pointer;
}

@media only screen and (min-width: 1045px) and (min-device-width: 768px) {
    .prod_in_cart{
        grid-template-columns: 0.3fr 0.8fr 0.7fr 0.7fr 0.1fr;
        grid-template-rows: 0.4fr 0.4fr;
        width: 80%;
    }

    .prod_photo{
        width: 80%;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .nazw_prod{
        margin-top: 7%;
    }

    .href_to_icon{
        grid-row: 1;
        grid-column: 5;
    }

    .icon_in_cart{
        width: 100%;
        margin-top:70%;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 5;
    }

    .label_select_sztuki{
        grid-column: 2;
        grid-row: 2;
        margin-top: -7%;
        width: 80%;
    }

    .select_sztuki{
        font-size: 110%;
    }

    .cena_za_sztuke{
        grid-column: 3;
        grid-row: 2;
        font-size: 110%;
        margin-top: -7%;
    }

    .cena_za_x_sztuk{
        grid-column: 4;
        grid-row: 2;
        font-size: 110%;
        margin-top: -7%;
    }

    .zamow{
        font-size: 100%;
        width: 20%;
        padding: 1% 2%;
        margin: 0 auto 10% 40%;
    }
}


@media only screen and (max-width: 1045px) and (min-device-width: 768px) {


    .prod_in_cart{
        grid-template-columns: 0.3fr 1fr 1fr 0.2fr;
        grid-template-rows: 0.4fr 0.4fr;
        width: 90%;
    }

    .prod_photo{
        width: 80%;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .nazw_prod{
        margin-top: 2%;
    }

    .href_to_icon{
        grid-row: 1;
        grid-column: 4;
    }

    .icon_in_cart{
        width: 60%;
        margin-top: 20%;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 4;
    }

    .label_select_sztuki{
        grid-column: 2;
        grid-row: 2;
        margin-top: -2%;
        width: 80%;
    }

    .select_sztuki{
        font-size: 100%;
    }

    .cena_za_sztuke{
        grid-column: 3;
        grid-row: 2;
        font-size: 100%;
        margin-top: -1%;
    }

    .cena_za_x_sztuk{
        grid-column: 3;
        grid-row: 1;
        font-size: 100%;
        margin-top: 2%;
    }

    .zamow{
        font-size: 100%;
        width: 25%;
        padding: 2%;
        margin: 5% auto 10% 40%;
    }
}

@media only screen and (max-width: 768px) {
    .prod_in_cart{
        grid-template-columns: 0.4fr 1.2fr 1fr 0.1fr;
        grid-template-rows: 1.2fr 0.8fr;
        width: 95%;
    }

    .prod_photo{
        width: 100%;
    }

    .nazw_prod,
    .cena_za_x_sztuk{
        margin-top: 5%;
    }

    .href_to_icon{
        grid-row-start: 1;
        grid-row-end: 3;
        margin-top: 100%;
    }

    .icon_in_cart{
        width: 80%;
    }

    .label_select_sztuki{
        width: 80%;
    }

    .zamow{
        font-size: 100%;
        width: 30%;
        padding: 2%;
        margin: 10% 35%;
    }
}