.formularz{
    margin: 2% auto 4% auto;
    width: 50%;
    border: 2px solid #3868A6;
    border-radius: 30px;
}

input,
textarea,
.wyslij,
.rodo,
.custom_file_upload{
    display: block;
    margin: 4% auto;
    font-family: "Urbanist", sans-serif;
    font-size: 100%;
    font-weight: 500;
    padding: 0.5% 1%;
    border: 2px solid #D7D7D9;
    border-radius: 10px;
    width: 75%;
}

label{
    font-size: 85%  ;
}

.label_email{
    display: block;
    margin: -3% auto 4% auto;
    width: 75%;
}

input[type="file"]{
    display: none;
}

.custom_file_upload{
    cursor: pointer;
    width: 30%;
    text-align: center;
    color: #808080;
}

.rodo{
    display: inline;
    width: 3%;
    margin-left: 15%;
    margin-top: -2%;
}

.wyslij{
    width: 20%;
    margin-right: 20%;
    border-color: #3868A6;
}

.wyslij:hover{
    background-color: #3868A6;
    border-color: #3868A6;
    color: #FFFFFF;
}

h2{
    font-family: "Major Mono Display", monospace;
    font-size: 200%;
    font-weight: 700;
    color: #3868A6;
    margin: 3% auto 0 auto;
    text-align: center;
}

@media only screen and (max-width: 1045px){
    .formularz{
        width: 75%;
    }

    input,
    textarea,
    .wyslij,
    .rodo,
    .custom_file_upload{
        padding: 1% 1.5%;
    }

    .custom_file_upload{
        width: 40%;
        font-size: 100%;
    }

    .rodo{
        height: 15px;
        margin-left: 13%;
        margin-top: -7%;
        margin-bottom: 0;
    }

    .wyslij{
        width: 40%;
        font-size: 100%;
    }

    h2{
        margin: 4% auto 0 auto;
    }
}