* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

body{
    font-family: "Urbanist", sans-serif;
}


/*NAVBAR*/

.navbar{
    height: 80px;
    background-color: #3868A6;
    display: flex;
}


.logo{
    margin: 0 3%;
    position: absolute;
    height: 80px;
    width: auto;
}

nav{
    display: flex;
    margin: 30px 45%;
    background: none;
    position: absolute;
}

.hamburger{
    display: none;
}

.menu_elem{
    background: none;
    height: 30px;
    font-weight: 400;
    text-align: center;
    margin-left: 20%;
    text-decoration: none;
}

.a_menu{
    background: none;
    color: #FFFFFF;
    outline: none;
    text-decoration:none;
}

footer{
    height: 200px;
    background-color: #D7D7D9;
}

/*HERO HOMEPAGE*/

.hero{
    display: flex;
    flex-shrink: inherit;
    flex-wrap: wrap;
    order: initial;
    align-items: center;
    background-image: url("../photos/home_page_backgroud.png");
    background-position: center;
    background-size: cover;
}

h1{
    font-family: "Major Mono Display", monospace;
    padding: 1%;
    color: #FFFFFF;
    background: rgba(56, 104, 166, 0.4);
    border-radius: 30px;
    text-align: center;
    align-self: flex-start;
}

#hero{
    background: none;
    margin-top: 5%;
    position: absolute;
    text-align: center;
}

#dalej{
    padding: 1%;
    background-color: rgb(191, 17, 32, 0.9);
    border-color: #BF1120;
    color: #FFFFFF;
    margin-top: 15%;
    border-radius: 30px;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    position: absolute;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

/*KATEGORIE*/

#h2_category{
    margin: auto;
    padding: 3% 0;
    width: 40%;
    text-align: center;
    color: #3868A6;
}

.category{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.cat_menu_elem{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.2fr 1.5fr;
    justify-items: center;
    gap: 5%;
    width: 50%;
}

.category_photo{
    grid-row: 1;
    width: 22%;
    margin-left: 38%;
}

.cat_menu{
    grid-row: 2;
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-family: "Major Mono Display", monospace;
}

.p_category{
    grid-row: 3;
    width: 65%;
    text-align: center;
    margin-bottom: 10%;
}

#o_nas{
    color: #000000;
    text-align: center;
    margin: 8% auto;
}



@media only screen and (max-width: 1920px){
    h1{
        font-size: 180%;
        margin: 5% auto 23% auto;
        width: 60%;
    }

    #hero{
        width: 35%;
        font-size: 130%;
        transform: translate(100%,80%);
    }

    #dalej{
        font-size: 90%;
        width: 15%;
        transform: translate(300%,100%);
    }

    .cat_menu{
        font-size: 110%;
    }

    #o_nas{
        width:60%;
        font-size: 100%;
    }
}


@media only screen and (max-width: 1045px){
    nav{
        margin: 30px 30%;
        background-color: #3868A6;
        position: absolute;
    }

    h1{
        font-size: 140%;
        margin: 3% auto 23% auto;
        width: 70%;
    }

    #hero{
        width: 35%;
        font-size: 110%;
        transform: translate(100%,70%);
    }

    #dalej{
        font-size: 80%;
        width: 20%;
        transform: translate(210%,100%);
    }

    #h2_category{
        margin: 2% auto;
    }

    .category{
        width: 90%;
    }

    .category_photo{
        width: 20%;
    }

    .cat_menu{
        font-size: 110%;
    }

    #o_nas{
        width:60%;
        font-size: 100%;
        margin: 10% auto;
    }
}


@media only screen and (max-width: 768px){
    nav{
        margin: 30px 21%;
        font-size: 80%;
    }

    .menu_elem{
        margin-left: 10%;
    }

    h1{
        font-size: 100%;
        margin: 5% auto 35% auto;
        width: 70%;
    }

    #hero{
        width: 35%;
        font-size: 80%;
        transform: translate(100%,50%);
    }

    #dalej{
        font-size: 70%;
        width: 30%;
        transform: translate(125%,160%);
    }

    #h2_category{
        font-size: 120%;
    }

    .category{
        width: 100%;
    }

    .cat_menu{
        font-size: 90%;
        width: 90%;
    }

    .p_category{
        font-size: 80%;
    }

    #o_nas{
        font-size: 80%;
        width:80%;
        margin: 5% auto 10% auto;
    }
}



.major-mono{
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}

.urbanist{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
