main{
    display: flex;
}

.formularz{
    margin: 2% auto 4% auto;
    width: 50%;
    border-right: 1px solid #D7D7D9;
    border-left: 1px solid #D7D7D9;
}

input,
.wyslij,
.rodo{
    display: block;
    margin: 4% auto;
    font-family: "Urbanist", sans-serif;
    font-size: 100%;
    font-weight: 500;
    padding: 0.5% 1%;
    border: 2px solid #D7D7D9;
    border-radius: 10px;
    width: 50%;
}

label{
    font-size: 85%  ;
}

.label_email{
    display: block;
    margin: -3% auto 4% auto;
    width: 75%;
}

.rodo{
    display: inline;
    width: 3%;
    margin-left: 15%;
    margin-top: -2%;
}

.wyslij{
    width: 20%;
    margin-right: 20%;
    border-color: #3868A6;
}

.wyslij:hover{
    background-color: #3868A6;
    border-color: #3868A6;
    color: #FFFFFF;
}

h2{
    font-family: "Major Mono Display", monospace;
    font-size: 200%;
    font-weight: 700;
    color: #3868A6;
    margin: 3% auto 0 auto;
    text-align: center;
}

h3{
    font-size: 80%;
    margin-left: 18%;
    font-weight: 400;
}

@media only screen and (max-width: 1045px){

    input,
    .wyslij,
    .rodo {
        margin: 4% auto;
        font-size: 100%;
        padding: 1% 1.5%;
        width: 75%;
    }

    .rodo{
        display: inline;
        height: 15px;
        margin-left: 13%;
        margin-top: -7%;
        margin-bottom: 0;
        width: 15px;
    }

    .wyslij{
        width: 40%;
        font-size: 100%;
    }

    h2{
        margin: 4% auto 0 auto;
    }
}