main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formularz_logowania{
    margin: 2% auto 4% auto;
    border-right: 1px solid #D7D7D9;
    border-left: 1px solid #D7D7D9;
}

input,
.wyslij,
.rodo{
    display: block;
    margin: 4% auto;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    border: 2px solid #D7D7D9;
    border-radius: 10px;
}

.label_email{
    display: block;
    margin: -3% auto 4% auto;
}

.rodo{
    display: inline;
    margin-left: 15%;
    margin-top: -2%;
}

.wyslij{
    width: 20%;
}

.wyslij:hover{
    background-color: #3868A6;
    border-color: #3868A6;
    color: #FFFFFF;
}

h2{
    font-family: "Major Mono Display", monospace;
    font-weight: 700;
    color: #3868A6;
    margin: 3% auto 0 auto;
    text-align: center;
}

h3{
    margin-left: 18%;
    font-weight: 400;
}

@media only screen and (max-width: 1920px) and (min-width: 1046px) {
    .ikona_log,
    .log_form,
    .log_photo{
        display: none;
    }

    .formularz_logowania{
        width: 100%;
    }

    input,
    .wyslij,
    .rodo{
        width: 50%;
        padding: 1% 1.5%;
        font-size: 100%;
    }

    label{
        font-size: 85%  ;
    }

    .label_email{
        width: 75%;
    }

    .rodo{
        display: inline;
        width: 3%;
    }

    .wyslij{
        width: 20%;
    }

    h2{
        font-size: 200%;
    }

    h3{
        font-size: 80%;
    }
}


@media only screen and (max-width: 1045px) and (min-device-width: 769px){
    .ikona_log,
    .log_form,
    .log_photo{
        display: none;
    }

    .formularz_logowania{
        width: 100%;
    }

    input,
    .wyslij,
    .rodo {
        margin: 4% auto;
        font-size: 100%;
        padding: 1% 1.5%;
        width: 75%;
    }

    .rodo{
        display: inline;
        height: 15px;
        margin-left: 13%;
        margin-top: -7%;
        margin-bottom: 0;
        width: 15px;
    }

    label{
        font-size: 85%  ;
    }

    .label_email{
        width: 75%;
    }

    .wyslij{
        width: 40%;
        font-size: 100%;
    }

    h2{
        margin: 4% auto 0 auto;
        font-size: 200%;
    }

    h3{
        font-size: 80%;
    }
}