* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --nav_height: 130px;
}

@media only screen and (max-device-width: 768px){
    .navbar{
        height: var(--nav_height);
    }

    .logo{
        margin: 0 3%;
        height: var(--nav_height);
    }

    .hamburger:has(input:not(:checked)) + nav{
        display: none;
    }

    .hamburger{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: calc((var(--nav_height) - 50px) /2) 0 0 85%;
        background-color: #3868A6;
        cursor: pointer;
    }

    .hamburger input,
    .hamburger:before,
    .hamburger:after{
        content: "";
        height: 10px;
        width: 70px;
        background-color: #FFFFFF;
        border-radius: 10000px;
        outline: none;
    }

    .hamburger input{
        appearance: none;
        outline: none;
        cursor: pointer;
        border-color: #FFFFFF;
    }

    .hamburger:has(input:checked) + nav{
        transform: translate(150%, calc(var(--nav_height) - 1px));
        flex-direction: column;
        margin: 0;
        background-color: #3868A6;
        position: absolute;
        width: 40%;
        font-size: 200%;
        padding: 3% 0 3% 1%;
        border-bottom-left-radius: 30px;
        z-index: 2;
    }

    .menu_elem{
        background: none;
        height: 30px;
        margin: 8% auto 25% auto;
    }

    a{
        background: none;
    }

    h1{
        font-size: 350%;
        margin: 20% 27% 100% 3%;
        width: 63%;
        padding: 3%;
        text-align: left;
    }

    #hero{
        width: 28%;
        font-size: 230%;
        margin-top: 30%;
        transform: translate(250%,50%);
        text-align: right;
    }

    #dalej{
        display: none;
    }

    #o_nas{
        font-size: 180%;
        width:80%;
        margin: 5% auto 10% auto;
    }

    .hero{
        background-image: url("../photos/mobile_background.png");
    }

    /*
    CONTACT FORM
    */

    .formularz{
        margin: 10% auto 20% auto;
        width: 90%;
    }

    input,
    textarea,
    .wyslij,
    .rodo,
    .custom_file_upload{
        margin: 10% auto;
        font-size: 210%;
        font-weight: 500;
        padding: 2%;
        width: 75%;
    }

    label{
        font-size: 170%;
    }

    .custom_file_upload{
        width: 40%;
        font-size: 210%;
        margin-bottom: 15%;
    }

    .label_email{
        display: block;
        margin: -7% auto 4% auto;
        width: 75%;
    }

    .rodo{
        height: 25px;
        display: inline;
        width: 3%;
        margin-left: 14%;
        margin-top: -5%;
    }

    .wyslij{
        width: 40%;
        font-size: 180%;
        margin-top: 5%;
        border-color: #3868A6;
    }

    .wyslij:hover{
        background-color: #3868A6;
        border-color: #3868A6;
        color: #FFFFFF;
    }

    h2{
        font-size: 350%;
        margin: 10% auto 0 auto;
    }

    /*
    AKTUALNOŚCI
    */

    .hero_image_news{
        display: none;
    }

    .hero_image_news_mobile{
        width: 100%;
        position: absolute;
    }

    .hero_news{
        width: 95%;
        height: 400px;
        margin: 10% 2%;
        padding: 2%;
        row-gap: 0;
        grid-auto-rows: 0.25fr 1fr;
        gap:5%;
    }

    #branza{
        font-size: 180%;
    }

    .ikona{
        height: 60px;
    }

    .menu_option{
        font-size: 160%;
        padding: 1%;
    }

    main{
        margin-top: 70%;
    }

    .container_branzy{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0 auto;
        justify-content: center;
    }

    .zdjecie{
        width: 100%;
        margin: auto;
    }

    #container_stocznia{
        grid-template-rows: 0.7fr 1fr;
    }

    #container_huta{
        grid-template-rows: 1fr 0.7fr;
    }

    #container_stacja{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.3fr 0.2fr 1fr;
        justify-content: center;
    }

    #stacja1,
    #stacja2{
        margin-top: 10%;
    }
}