* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --menu-color: rgb(230, 230, 232, 0.7);
}

header{
    position: relative;
}

.hero_image_news{
    width: 100%;
    position: absolute;
}

#branza{
    font-family: "Major Mono Display", monospace;
    font-size: 230%;
    text-align: center;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 4;
    background: none;
    padding-bottom: 2%;
    color: #000000;
    align-self: unset;
}

.hero_news{
    position: absolute;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    background-color: var(--menu-color);
    z-index: 1;
    gap: 5%;
    border-radius: 30px;
}

.option_container{
    position: initial;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    background: var(--menu-color);
    border-radius: 30px;
    padding: 7% 5%;
}

.ikona{
    margin: 2% auto;
    background: none;
}

.menu_option{
    background: none;
    color: #000000;
    text-align: center;
}

/* PO WYBORZE BRANŻY */


.zdjecie_branzy{
    width: 100%;
    margin-top: 5%;
}


h3{
    font-family: "Major Mono Display", monospace;
    margin: -10% auto 0 auto;
    text-align: center;
    padding: 14% 0 4% 0;
}

.container_branzy{
    display: grid;
    width: 80%;
    height: max-content;
    column-gap: 5%;
    justify-content: center;
}

.akapit_brazy{
    margin: auto;
    background: none;
}

@media only screen and (max-width: 1920px) and (min-width: 1046px){
    .hero_image_news_mobile{
        display: none;
    }

    #branza{
        font-size: 230%;
    }

    .hero_news{
        grid-auto-rows: 0.5fr 1fr;
        width: 70%;
        height: 400px;
        margin: 3% 15%;
        padding: 3%;
    }

    .ikona{
        height: 50px;
    }

    .menu_option{
        padding-top: 7%;
    }

    main{
        margin: 47% 0 5% 0;
    }

    h3{
        font-size: 150%;
        width: 50%;
    }

    .container_branzy{
        margin: 0 auto 5% auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .zdjecie{
        width: 100%;
        margin: auto;
    }

    #container_stacja{
        grid-template-rows: 1fr 1fr;
    }
}

@media only screen and (max-width: 1045px) and (min-device-width: 769px){
    .hero_image_news_mobile{
        display: none;
    }

    .hero_news{
        height: 300px;
        width: 80%;
        margin: 3% 10%;
    }

    .ikona{
        height: 40px;
    }

    .menu_option{
        padding-top: 7%;
    }

    main{
        margin: 47% 0 5% 0;
    }

    #branza{
        font-size: 200%;
    }

    .container_branzy{
        margin: 0 auto 5% auto;
        width: 90%;
        font-size: 95%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .zdjecie{
        width: 100%;
        margin: auto;
    }

    #container_stacja{
        grid-template-rows: 1fr 1fr;
    }
}

@media only screen and (max-width: 900px) {
    .hero_image_news_mobile{
        display: none;
    }

    .hero_news{
        width: 90%;
        height: 200px;
        margin: 3% 5%;
        padding: 2%;
        row-gap: 0;
        grid-auto-rows: 0.25fr 1fr;
        gap:5%;
    }

    #branza{
        font-size: 180%;
    }

    .ikona{
        height: 30px;
    }

    .menu_option{
        font-size: 80%;
        padding-top: 7%;
    }

    main{
        margin: 47% 0 5% 0;
    }

    .container_branzy{
        margin: 0 auto 5% auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .zdjecie{
        width: 70%;
        margin: 5% auto;
    }

    #container_stacja{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
    }
}