.container_sposob{
    margin: 3% 0 7% 13%;
}

.h3_sposob{
    font-family: "Major Mono Display", monospace;
    color: #3868A6;

}

input[type="radio"]{
    margin: 0 2%;
    padding: 5%;
    width: 5%;
}

.label_s{
    display: flex;
    margin: 2%;
}