.product{
    display: grid;
    overflow: hidden;
}

.liczba_produktu{
    border: 2px solid #D7D7D9;
    border-radius: 10px;
    padding: 1.5% 2%;
    font-family: "Urbanist", sans-serif;
}

@media only screen and (min-width: 1046px) and (min-device-width: 769px) {
    .product{
        grid-template-columns: 1.5fr 1.6fr;
        grid-template-rows: 0.2fr 0.5fr 0.8fr;
        width: 80%;
        row-gap: 10%;
        margin: 5% auto;
    }

    .product_photo{
        width: 80%;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column: 1;
    }

    .nazwa_prod{
        grid-column: 2;
        grid-row: 1;
        padding-top: 3%;
    }

    .opis_duzy{
        grid-column: 2;
        grid-row: 2;
    }

    .form_prod{
        grid-row: 3;
        grid-column: 2;
    }

    .icon_prod{
        display: grid;
        grid-template-columns: 1fr 0.1fr 1fr;
    }

    .lable_liczna_produtku{
        grid-column: 1;
    }

    .liczba_produktu{
        margin-left: 2%;
    }

    .add_to_cart{
        grid-column: 3;
        height: 120%;
    }
}


@media only screen and (max-width: 1045px) and (min-device-width: 769px) {
    .product{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 0.7fr 0.1fr;
        width: 90%;
        gap: 2%;
        margin: 5% auto;
    }

    .product_photo{
        width: 100%;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 1;
    }

    .nazwa_prod{
        grid-column: 2;
        grid-row: 1;
        padding-top: 3%;
    }

    .opis_duzy{
        grid-column: 2;
        grid-row: 2;
        font-size: 100%;
    }

    .form_prod{
        grid-row: 3;
        grid-column: 2;
    }

    .icon_prod{
        display: grid;
        grid-template-columns: 1.5fr 0.1fr 0.5fr;
    }

    .lable_liczna_produtku{
        grid-column: 1;
        font-size: 100%;
    }

    .add_to_cart{
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .product{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.1fr 0.4fr 0.5fr;
        width: 90%;
        gap: 2%;
        margin: 5% auto;
    }

    .product_photo{
        width: 70%;
        grid-row: 1;
        grid-column: 1;
        margin: 0 auto;
    }

    .nazwa_prod{
        grid-column: 1;
        grid-row: 2;
        padding-top: 3%;
    }

    .opis_duzy{
        grid-column: 1;
        grid-row: 3;
    }

    .form_prod{
        grid-column: 1;
        grid-row: 4;
    }

    .icon_prod{
        display: grid;
        grid-template-columns: 1fr 0.1fr 1fr;
        height: 30%;
    }

    .lable_liczna_produtku{
        grid-column: 1;
        margin: 5% 0 0 30%;
    }

    .add_to_cart{
        width: 100%;
    }
}